{erl_opts, [
  debug_info,
  warn_unused_vars,
  nowarn_shadow_vars,
  warn_unused_import
]}.

{cover_enabled, true}.

{clean_files, [
  "logs/*",
  "test/*.beam",
  "doc/*",
  "erl_crash.dump"
]}.

{dialyzer_opts, [src, {warnings, [
  no_return,
  no_unused,
  no_improper_lists,
  no_fun_app,
  no_match,
  no_opaque,
  no_fail_call,
  error_handling,
  race_conditions,
  behaviours,
  unmatched_returns,
  overspecs,
  underspecs,
  specdiffs
]}]}.

{template_dir, "priv/templates/"}.
